# Compiler files
cache/
out/
broadcast/

# Environment
.env

# Dependencies
node_modules/
lib/

# Subgraph
subgraph/node_modules/
subgraph/generated/
subgraph/build/
build/
generated/

# Screenshot intermediates
screenshots/*.html
